<footer>
  <div class="footer" fxLayout="row">
    <div fxLayout="column">
      <div
        class="logo"
        id="logo_erasmus"
        (click)="openUrl('https://erasmus-plus.ec.europa.eu')"
      ></div>
      <div fxLayout="row">
        <div
          class="logo"
          id="logo_diarc"
          (click)="openUrl('https://diarc.org')"
        ></div>
      </div>
    </div>
    <div
      class="logo"
      id="logo_mcc"
      (click)="openUrl('https://www.mc-celje.si')"
    ></div>

    <div
      class="logo"
      id="logo_tmc"
      (click)="openUrl('https://themightycreatives.com')"
    ></div>

    <div
      class="logo"
      id="logo_national"
      (click)="openUrl('http://www.nbschool.eu')"
    ></div>

    <div
      class="logo"
      id="logo_nmct"
      (click)="openUrl('https://www.svetoslavastoyanova.com/collaboration')"
    ></div>
    <div
      class="logo"
      id="logo_bo_yana"
      (click)="openUrl('https://www.learn-to-inspire.com')"
    ></div>
  </div>
</footer>
